<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <%= form_tag(contact_us_path, method: 'post', multipart: true) do %>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <%= label_tag 'name', 'Name' %>
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Name' %>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <%= label_tag 'email', 'Email Address' %>
              <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Email Address' %>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <%= label_tag 'phone', 'Phone Number' %>
              <%= telephone_field_tag 'phone', nil, class: 'form-control', placeholder: 'Phone Number' %>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <%= label_tag 'message', 'Message' %>
              <%= text_area_tag 'message', nil, class: 'form-control', placeholder: 'Message', rows: 5 %>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="row">
            <div class="form-group col-xs-12">
              <%= button_tag(type: 'submit', class: 'btn btn-success btn-lg') do %>
                Send Message to Admin
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>