<div class="col-lg-8 col-lg-offset-2 text-center">
  <hr class="star-light">
  <h3>Subscribe to our mailing list by entering you email</h3>
  <hr class="star-light">
  <%= form_tag(subscribe_path, method: 'post', multipart: true) do %>
    <div class="row control-group">
      <div class="form-group col-xs-12 floating-label-form-group controls">
        <%= label_tag 'sub_email', 'Email Address' %>
        <%= email_field_tag 'sub_email', nil, class: 'form-control', placeholder: 'Email Address' %>
        <p class="help-block text-danger"></p>
      </div>
    </div>
    <br>
    <div id="success"></div>
    <div class="row">
      <div class="form-group col-xs-12">
        <%= button_tag(type: 'submit', class: 'btn btn-primary btn-lg') do %>
            Subscribe
        <% end %>
      </div>
    </div>
  <% end %>
</div>